<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Page</title>
</head>
<body>
    {{> header}}

    {{> footer}} <!--This is how we inject a partial-->
</body>
</html>



<!---->